[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
importmagic = "*"
epc = "*"
python-language-server = {extras = ["all"],version = "*"}
ipython = "*"
pudb = "*"
ptvsd = "*"

[packages]
tfgenzoo = "==1.2.1"
hydra-core = "*"
sklearn = "*"
tqdm = "*"
opencv-python = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
tfds-nightly = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
