[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
importmagic = "*"
epc = "*"
python-language-server = {extras = ["all"],version = "*"}
ipython = "*"
pudb = "*"

[packages]
tfgenzoo = {git = "https://github.com/MokkeMeguru/TFGENZOO.git",ref = "master"}
hydra-core = "*"
sklearn = "*"
tqdm = "*"

[requires]
python_version = "3.7"
